body {
  margin: 0;
  background-color: #002b36;
}

pre {
  margin: 0;
}

textarea {
  padding: 0;
  margin-left: 1rem;
  min-height: calc(100vh - 3rem);
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #797979;
}

.wrapper {
  padding: 1rem;
  display: flex;
  font-size: 1rem;
}

.line-numbers {
  padding-right: 0.5rem;
  font-family: monospace;
  text-align: end;
  user-select: none;
  border-right: 1px solid #797979;
  color: #797979;
}

.buttons-wrapper {
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.15;
  background-color: #0081a2;
  transition: opacity 200ms ease-in-out;
}

.buttons-wrapper:hover {
  opacity: 1;
}

.logo {
  width: 100%;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

.logo:hover {
  text-decoration: underline;
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.buttons > * + * {
  margin-left: 0.25rem;
}

.btn {
  padding: 0.2rem 0.5rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: 1px solid #002b36;
  border-radius: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #002b36;
  transition: background-color 70ms ease-in-out, color 70ms ease-in-out;
}

.btn:hover {
  color: whitesmoke;
  background-color: #002b36;
}

#code-display {
  padding: 0 1rem;
}
